.events-component {
  /* font-family: 'Roboto', sans-serif; */
  margin-top: 10%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.37);
  border-radius: 1rem;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}

.events-component h1 {
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  display: inline;
  margin-bottom: 0px;
  font-variant: small-caps;
  font-weight: 500;
}

.event-wrapper {
  display: flex;
  flex-direction: column;
  font-family: Helvetica;
  margin: 10px 0px 10px 0px;
  padding: 0px;
  align-items: center;
  color: white;
}

.event {
  font-size: 16pt;

  /* margin-bottom: 50px; */
  /* background-color: rgba(0, 0, 0, 0.573); */
  /* margin: 1vh; */
  display: grid;
  width: 95%;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  border-left: 5px solid;
  margin: 5px;
  /* border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-right: 1px solid white; */
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
}

.event p {
  /* border: 1px solid red; */
  color: rgb(215, 215, 215);
}

p.time{
  color: rgb(215, 215, 215);
  padding-left: 20px;
}

p.title {
}

.date {
  /* background-color: rgba(0, 0, 0, 0.75); */
  border-radius: 0.25rem;
  font-variant: small-caps;
  font-weight: 500;
  font-size: 18pt;
  align-self: flex-start;
  margin-left: 2.5%;
  margin-bottom: 0px;
  margin-top: 3vh;
}

.event-wrapper:nth-child(1) p {
  margin-top: 1vh;
}

.events-holder {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 20px;
}

.event-wrapper hr{
  margin-top: 0px;
}

