

.bi.bi-list {
  color: rgb(213, 204, 204);
  font-size: 35px;
  background: rgba(0, 0, 0, 0.589);
  padding: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 10px;
  cursor: pointer;
}

.bi.bi-list:hover {
  background: rgba(55, 54, 54, 0.589);
}



.navbar-container {
  padding-top: 7px;
  height: 45px;
  display: flex;
  position: relative;
  width: 100vw;
  margin-left: 40px;
  z-index: 8;
  margin-bottom: 10px;
}


.menuNav {
  display: flex;
  flex-direction: column;
  background: white;
  position: absolute;
  width: 250px;
  z-index: 100;
  height: 250px;
  left: 10px;
  padding-top: 10px;
  transform: translateY(-400px);
  transition: all 0.2s ease;
  box-shadow: 4px 1px 40px 2px rgb(197, 189, 189);
  border-radius: 10px;
}


.close {
  text-align: left;
  margin: 10px 10px 0px 10px;
}

.bi.bi-x-lg {
  padding: 7px;
  color: rgb(130, 128, 128);
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 10px;
  font-size: 20px;
  /* background: rgb(234, 237, 249); */
}

.bi.bi-x-lg:hover {
  background: rgb(219, 223, 240);
}

.menuNav.showMenu {
  background: white;
  top: 0px;
  left: 10px;
  transform: translateY(0px);
}

.menuNav.closeMenu {
  background: white;
  height: 0%;
}

.menuNav button{
  border: none;
  background: transparent;
  cursor: pointer;
}
.button-holder button{
  text-decoration: none;
  display: block;
  justify-content: center;
  position: relative;
  padding: 0.2em 0;
}

button.disp, button.photo{
  width: 70%;
  align-self: center;
}
.button-holder button::after{
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  /* background: rgb(105, 160, 255); */
  background: linear-gradient(90deg, rgb(196, 231, 237), rgb(163, 163, 236) 35%);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.button-holder a{
  text-decoration: none;
  width: 70%;
  align-self: center;
}

a button{
  width: 100%;
}

.button-holder button:hover::after,
button:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
  transform: scale(1);
}

.button-holder {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.button-holder button {
  height: 40px;
  font-weight: 300;
  text-align: center;
  font-size: 20px;
  color: gray;
  display: flex;
  margin-top: 10px;
  padding-top: 5px;
}

button.disp{
  margin-top: 0px;
}

.logout-holder{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logout-holder button{
  justify-content: center;
  font-weight: 300;
  width: 100%;
  text-align: center;
  font-size: 17px;
  color: rgb(33, 25, 25);
  border-radius: 10px;
  display: flex;
  padding:10px 12px 10px 12px;
  background: rgb(224, 19, 19);
  color: white;
}

.logout-holder button:hover {
  background: rgb(169, 8, 8);
}

.button-holder button:hover {
  color: rgb(0, 0, 0);
}
