.time-time{
  color: white;
  font-weight: 300;
  font-size: 10vh;
  text-shadow: 1px 1px 1px #928f8f;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.time-time span{
  color: white;
  font-size: 5vh;
}

.time-date{
  color: white;
  font-weight: 500;
  font-size: 2vh;
  text-shadow: 1px 1px 1px #928f8f;
}
